.home {
  h1 {
    margin-bottom: 40px;
    font-size: 45px;
    color: $primary;
  }

  .home-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4em auto 5em;
    width: calc(100% - 100px);

    .intro {
      width: 50%;
      @media screen and (max-width: $phone) {
        width: 100%;
      }
    }

    .vertical-menu {
      @media screen and (max-width: $phone) {
        display: none;
      }
    }

    a.button {
      margin-top: 30px;
    }
  }
}
