.search-results, .drawer-publication {
  .ais-SearchBox {
    display: flex;
    align-items: center;
    justify-content: center;

    &-form {
      width: 50%;
      margin: 50px 0;
      position: relative;
    }

    input[type="search"] {
      padding: 15px 15px 15px 25px;
      width: 100%;
      font-family: "Futura PT";
      font-size: 2em;
      outline: none;
    }

    button {
      &[type="submit"] {
        display: none;
      }
      &[type="reset"] {
        background: #fff;
        border: none;
        outline: none;
      }
      .icon-close {
        position: absolute;
        right: 30px;
        top: 20px;
        width: 30px;
        height: 30px;
      }
    }
  }
  .ais-Hits-list {
    display: grid;
    grid-template-columns: 50% 50%;
    .ais-Hits-item {
      margin: 5px 5px 2em;
    }
  }
  h1 {
    font-size: 6em;
    color: #CECECE;
    margin-bottom: 30px;
  }

  h3 {
    color: #000;
    font-size: 26px;
  }

  .hit-item {
    &__content {
      border-left: 4px solid #000;
      padding-left: 20px;
    }

    &__author {
      color: $orange;
      margin-bottom: 20px;
    }

    &__date {
      margin-top: 15px;
      margin-bottom: 10px;
      p {
        font-size: 16px;
      }
    }
    &__description {
      margin-bottom: 15px;
    }

    &__cta {
      margin-top: 15px;
    }
  }
}