html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  height: 100%;
}

#__next {
  height: 100%;
}

p {
  font-size: 20px;
}

ul {
  margin: 0;
}

ul {
  list-style-type: none;
  li {
    font-family: $FuturaPT;
  }
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4em;
  color: #CECECE;

  .theme-page & {
    font-size: 2em;
  }
}

a {
  &.button {
    &:hover {
      cursor: pointer;
    }

    border: 2px solid $orange;
    color: $orange;
    padding: 10px 45px;
    display: inline-flex;
  }

  &.full {
    background: $orange;
    color: #fff;
    transition: 0.4s;

    &:hover {
      background: #fff;
      transition: 0.4s;
      color: $orange;
    }
  }

  &.empty {
    background: #fff;
    transition: 0.4s;

    &:hover {
      background: $orange;
      transition: 0.4s;
      color: #fff;
    }
  }
}

.container {
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $phone) {

  }
}

.logo {
  cursor: pointer;
  width: 125px;
}

.icon-close {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: $orange;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.back-to-top {
  position: fixed !important;
  bottom: 0;
  left: 0;
  margin: 4em !important;
}