html, body {
  padding: 0;
  margin: 0;
  font-family: $FuturaPT;
}

p {
  font-size: 20px;
}

p, ul {
  margin: 0;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: reross-quadratic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  &.button {
    border: 2px solid $orange;
    color: $orange;
    padding: 10px 45px;
    display: inline-flex;
  }
  &.full {
    background: $orange;
    color: #fff;
  }
}

.container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @media (min-width: 1080px) and (max-width: 1280px) {
    width: 1080px;
  }
  @media screen and (max-width: $tablet) {
    width: calc(100% - 40px);
  }
}

.logo {
  cursor: pointer;
  width: 125px;
}