/**
*
*    VARIABLES
*
*/

/* ====================== */
/*      DEVICES WIDTH     */
/* ====================== */
$tablet: 1024px; // MD - tablet
$phone: 768px; // SM - phoneLand

/* ====================== */
/*      FONT FAMILY       */
/* ====================== */
$FuturaPT: 'Futura PT';
$primaryFontFamily: 'Roboto';

/* ====================== */
/*         COLORS         */
/* ====================== */
$orange: #FF3900;

/* ====================== */
/*         BORDERS        */
/* ====================== */
$borderRadius: .25em;
